
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?nuil0y');
    src:  url('../fonts/icomoon.eot?nuil0y#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?nuil0y') format('truetype'),
      url('../fonts/icomoon.woff?nuil0y') format('woff'),
      url('../fonts/icomoon.svg?nuil0y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-times-circle:before {
    content: "\f057";
  }

  .icon-chevron-up:before {
    content: "\f077";
  }
  .icon-chevron-down:before {
    content: "\f078";
  }