@import 'global';
@import 'fonts';


.header{
    &__inner{
        padding: 30px 45px;
        
    }
    &__info{
        display: flex;
        color: #6d7278;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
        &-name{
            line-height: 20px;
            margin-right: 15px;
            text-transform: uppercase;
        }
        &-date{
            margin-right: 40px;
        }
    }
}

.header__person{
    font-size: 14px;
    line-height: 19px;
    color: #8a7c5d;
    position: relative;
    &-img{
        height: 16px;
        width: 16px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        left: -20px;
        top: 2px;    }

}

.header__box{
    &-title{
        font-size: 30px;
        line-height: 38px;
    }
    &-text{
        max-width: 485px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
    }
}

.present-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
    max-width: 1300px;
}



//  start present box






@import 'media';

.tab input, .tab-content {
    display: none; 
    background-color: #142536;
    border-bottom: 1px solid #405265;

}
.tab {
    background-color: #142536;
    a{
        color: #5a88c1;
    }
}
.tab-title {
    padding: 30px 45px; 
    display: block; 
    cursor: pointer; 
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    border-bottom: 1px solid #405265;
}

.tab-title::after {
    content: '\f078'; 
    float: right; 
    font-family: 'icomoon';
    color: #fff;
}

.tab-content {
    padding: 30px 45px; 
    color: #fff;
}

.tab-content-inner{
    display: flex;
}

.tab-content-box{
    max-width: 693px;
}

.tab-content-img{
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 118px;
}

.tab :checked + .tab-title {
    background-color: #142536;   
}

.tab :checked + .tab-title::after {
    content: '\f077';  
    font-family: 'icomoon';
    color: #fff;
}

.tab :checked ~ .tab-content {
    display: block; 
}

//end present box